<div class="loginregister animated fadeIn">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <img src="./assets/svg/logoklintic.svg" alt="">
        <div class="signup">
            <app-loading *ngIf="isLoading"></app-loading>
            <form *ngIf="!isLoading" [formGroup]="loginForm" id="loginform" (ngSubmit)="login()" autocapitalize="off">
                <label for="chk" aria-hidden="true"><h1>Login</h1></label>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Correo Electrónico" required>

                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">

                        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check rememb">
                        <input class="form-check-input" type="checkbox" formControlName="remember" id="remember">
                        <label class="form-check-label" for="remember">Recuerdame</label>
                    </div>
                    <br>
                    <div class="col-sm-12 text-center">
                        <a routerLink="/password-reset" id="to-recover" class="text-light ">
                            <i class="fa fa-lock m-r-5"></i> Olvido Contraseña?</a>
                        <br>
                        <!-- <br> Don't have an account? <a routerLink="/registro" class="text-primary m-l-5"><b>Sign Up</b></a> -->
                    </div>
                </div>
                <button (click)="login()">Entrar</button>
                <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center" id="google-btn">
                        <div id="my-signin2"></div>
                    </div>
                </div> -->
                <br>
                <!-- <p class="text-light text-center" style="display: flex;
                flex-direction: column;"> No posee cuenta? </p> -->
            </form>
        </div>

        <div class="login">
            <form  *ngIf="!isLoading"[formGroup]="registerForm" (ngSubmit)="crearUsuario()" autocapitalize="off" style="margin-top: 10px;">
                <label for="chk" aria-hidden="true"><h1>Registro</h1></label>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="username" placeholder="username">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" formControlName="terminos" type="checkbox">
                            <label for="checkbox-signup"> Acepto las <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#condiciones">Condiciones </a></label>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col text-danter">
                        <p *ngIf="campoNoValido('username')"><span>*</span> El username es obligatorio</p>
                        <p *ngIf="campoNoValido('email')"><span>*</span> El email es obligatorio y debe ser valido</p>
                        <!-- <p *ngIf="aceptaTerminos()"><span>*</span> Debe aceptar las condiciones de uso</p> -->
                        <p *ngIf="passwordNoValido()"><span>*</span> La Contraseña deben ser iguales </p>
                    </div>
                </div>
                <button (click)="crearUsuario()">Registrarme</button>
            </form>
        </div>
    </div>
</div>
<!-- <app-modal-condiciones></app-modal-condiciones> -->
 <app-pwa-notif-installer></app-pwa-notif-installer>