<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/">
                        <i class="fa fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <!-- End Dashboard Nav -->

                <!-- menu superadmin y admin -->

                <div *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN' || user.role === 'PARTNER' ">

                    <!-- <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/buscar" routerLinkActive="active">
                            <i class="fa fa-search"></i>
                            <span>Buscar</span>
                        </a>
                    </li> -->
                   
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/clients" routerLinkActive="active">
                            <i class="fa fa-users"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/vincular-whatsapp" routerLinkActive="active">
                            <i class="fa fa-whatsapp"></i>
                            <span>Vincular Whatsapp</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/users" routerLinkActive="active">
                            <i class="fa fa-users"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    
                    
                    
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.uid]" routerLinkActive="active">
                            <i class="fa fa-user"></i>
                            <span>Mi Cuenta</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" routerLink="/dashboard/roles" routerLinkActive="active">
                            <i class="fa fa-cogs"> </i>
                            <span>Roles</span>
                        </a>
                    </li>
                    <!-- End Payments Page Nav -->
                </div>

                <!-- menu superadmin y admin -->


                <div *ngIf="user.role === 'USER' ">
                    <li class="nav-item">
                        <a class="nav-link collapsed cursor" [routerLink]="['/dashboard/profile/', user.uid]" routerLinkActive="active">
                            <i class="fa fa-user-md"></i>
                            <span>Mi Cuenta</span>
                        </a>
                    </li>
                    
                    <!-- End Payments Page Nav -->
                </div>

                <!-- End Payments Page Nav -->
                <!-- todos -->
                <!-- <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/dashboard/help" routerLinkActive="active">
                        <i class="fa fa-ambulance"></i>
                        <span>Ayuda</span>
                    </a>
                </li> -->
                <!-- End F.A.Q Page Nav -->

                <!-- <li class="nav-item">
                    <a class="nav-link collapsed cursor" routerLink="/dashboard/contact" routerLinkActive="active">
                        <i class="fa fa-envelope"></i>
                        <span>Contacto</span>
                    </a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link collapsed cursor" (click)="logout()">
                        <i class="fa fa-power-off"></i>
                        <span>Salir</span>
                    </a>
                </li>
                <!-- End Contact Page Nav -->


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->