<!-- =======| Main |======= -->
<div class="container " id="main" class="main" role="main ">
    <div class="col-xs-12 ">
        <!-- Page Title -->
        <div class="pagetitle animated fadeIn">
            <div class="left">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li> -->
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <div class="right shadow animated fadeIn">
                <p>Bienvenido: {{user.username}}!</p>
                
                <span class="badge bg-dark" *ngIf="user.role === 'SUPERADMIN'">SuperAdmin</span>
                <span class="badge bg-primary" *ngIf="user.role === 'ADMIN'">Admin</span>
                <span class="badge bg-primary" *ngIf="user.role === 'PARTNER'">Partner de Cuentas</span>
                <p>Ten un Excelente y Productivo día!</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row mt-3 mb-3">
            <div class="d-flex justify-content-end gap-3">
                <div class="btn btn-primary" routerLink="/dashboard/clients">
                    <i class="fa fa-folder"></i>
                </div>
            </div>
        </div>
        <!-- <div class="row mt-3">
            <div class="col-xs-12 col-sm-8">
                <h3>Proyectos Aprobados</h3>
                <app-line-chart [projects]="clientes"></app-line-chart>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Propuestas Enviadas</h3>
                <app-pie-chart2 [projects]="clientes"></app-pie-chart2>
            </div>
        </div> -->
        <!-- acceso iconos -->
        <!-- <app-menuiconos></app-menuiconos> -->
        <!-- acceso iconos -->
        <app-project-list [displaycomponent]="displaycomponent" [limit]="limit"></app-project-list>

        <!-- End Page Title -->


    </div>



</div>
<!--/main-->

<app-project-edit [projectSeleccionado]="projectSeleccionado" (closeModal)="onCloseModal()"></app-project-edit>
<!-- <app-projecttypeedit></app-projecttypeedit> -->
<app-pwa-notif-installer></app-pwa-notif-installer>