.historial ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    margin: auto;
}

.historial ul li {
    margin-bottom: 10px;
}

.historial ul li a {
    padding: 5px;
    color: var(--black);
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    transition: all .3s ease;
}

/* .historial ul li a:hover {
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(82, 63, 105, 0.2);
    border-radius: 4px;
} */

.imgqr {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}


.listgridHistorial,
.listgrid{
    display: grid;
    width: 100%;
    float: left;
    height: auto;
}

.imagenblog{
    grid-area: 1 / 1 / 1 / 1;
}

.titulourl{
    grid-area: 1 / 2 / 2 / 2;

}



.date{
    grid-area: 2 / 2 / 2 / 2;
    margin-top: -20px;
}
.monto{
    grid-area: 3 / 2 / 4 / 2;
    /* margin-top: -30px; */
}
.status{
    grid-area: 4 / 2 / 4 / 2;
    /* margin-top: -30px; */
}


.listgridSubcripcione{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 14px;
    background-color: #fafafa;
    width: 44%;
    float: left;
    box-sizing: content-box;
    margin: 3px;
}




@media(min-width:1024px) {
    .detail .col-sm-8,
    .detail .col-sm-4 {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .detail .col-sm-8 {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
    .detail .label {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: var(--bold);
    }
    .detail .label i {
        margin-right: 5px;
        color: var(--azul);
    }
    .detail .info {
        display: flex;
        flex-direction: row;
        margin-left: 22px;
    }
    .listgridHistorial{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 14px;
        grid-row-gap: 0px;
        text-align: left;
        justify-content: flex-start;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        width: 45%;
        float: left;
        margin: 5px;
        box-sizing: content-box;
    }

    .listgrid{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 14px;
        grid-row-gap: 0px;
        text-align: left;
        justify-content: flex-start;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        width: 45%;
    float: left;
    height: 140px;
    margin: 5px;
    box-sizing: content-box;
    }
}