<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>© {{year}} | Presupuesto Inteligente CRM App. | Desarrollado por: <a href="https://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a> | Derechos Reservados</small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->